.bg_img {
    background-image: url("./login_background_image.jpeg");
    background-size: 100% 100%;
}

.for__flex {
    display: flex;
    align-items: flex-start;
    /* justify-content: start; */
    /* background-color: aqua; */
}

/* .flexbox__item{
    width:200px;
    margin: 10px;
    border: 3px solid;
    background-color: #5EAAA8;
} */


.home__body1 {
    /* background-color: blue; */
    flex: 1;
    flex-direction: column;
    height: auto;
    margin-left: 2%;
    /* width: 25%;
    height: auto; */
    /* min-height: 100px;  */
}

.home__body2 {
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
    flex: 2;
    height: 674px;
    overflow-y: auto;
    padding: 0 2%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    /* width: 50%;
    overflow: scroll;
    min-height: 200px; */
}

.home__body2 > h3 {
    font-weight: 800;
}

.home__body3 {
    /* background-color: blue; */
    flex: 1;
    flex-direction: column;
    height: auto;
    margin-left: 1%;
    /* width: 25%;
    height: auto; */
    /* min-height: 100px;  */
}

.net__balance {
    text-align: center;
    margin: 10px 0;
}

.upgrade_pro {
    padding-top: 80px;
}

.upgrade_button {
    background-color: #ffd700;
}

.table {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table_border {
    border-style: solid;
}

.tr:nth-child(even) {
    background-color: wheat;
}



  